<%= form_for [@project, Task.new], html: {class: 'col-md-6'} do |f| %>
	<div class="form-group">
		<%= f.label :title%>
		<%= f.text_field :title %>
	</div>
	<div class="form-group">
		<%= f.label :content, "contenido" %>
		<%= f.text_area :content, rows: 8,  class: 'form-control' %>
	</div>
	<p>seleccione un responsable de la tarea</p>
	<div class="field">
	  <%= collection_select(:task, :user_id, User.all, :id, :email, {:prompt => 'Select'})%>
    </div>

	<p>seleccione estado de la tarea</p>
    <div>
    	<%= f.select(:status, Task.status.map {|status| [status, status]}) %>
    </div>


	<div class="form-group">
		<%= f.submit "Enviar", class: 'btn btn-success' %>
	</div>
<% end %>